@model GroupSportsWeb.ViewModels.LstIndexViewModel
@{
        ViewBag.Title = "Home Page";
    }

     <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Dashboard</h4>
                                    <ol class="breadcrumb p-0 m-0">
                                        <li>
                                            <a href="#">Zircos</a>
                                        </li>
                                        <li>
                                            <a href="#">Dashboard</a>
                                        </li>
                                        <li class="active">
                                            Dashboard
                                        </li>
                                    </ol>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                        <div class="row">
                            <div class="col-lg-2 col-md-4 col-sm-6">
                                <div class="card-box widget-box-one">
                                    <i class="mdi mdi-chart-areaspline widget-one-icon"></i>
                                    <div class="wigdet-one-content">
                                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">Total de Equipos</p>
                                        <h2>34578 <small><i class="mdi mdi-arrow-up text-success"></i></small></h2>
                                        <p class="text-muted m-0"><b>Last:</b>@Model.lstTeam.Count()</p>
                                    </div>
                                </div>
                            </div><!-- end col -->
                            <div class="col-lg-2 col-md-4 col-sm-6">
                                <div class="card-box widget-box-one">
                                    <i class="mdi mdi-account-convert widget-one-icon"></i>
                                    <div class="wigdet-one-content">
                                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User Today">Total de Entrenadores</p>
                                        <h2>895 <small><i class="mdi mdi-arrow-down text-danger"></i></small></h2>
                                        <p class="text-muted m-0"><b>Last:</b> @Model.lstCoach.Count()</p>
                                    </div>
                                </div>
                            </div><!-- end col -->
                            <div class="col-lg-2 col-md-4 col-sm-6">
                                <div class="card-box widget-box-one">
                                    <i class="mdi mdi-layers widget-one-icon"></i>
                                    <div class="wigdet-one-content">
                                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User This Month">Total de Entrenamientos</p>
                                        <h2>52410 <small><i class="mdi mdi-arrow-up text-success"></i></small></h2>
                                        <p class="text-muted m-0"><b>Last:</b> 0</p>
                                    </div>
                                </div>
                            </div><!-- end col -->
                            <div class="col-lg-2 col-md-4 col-sm-6">
                                <div class="card-box widget-box-one">
                                    <i class="mdi mdi-av-timer widget-one-icon"></i>
                                    <div class="wigdet-one-content">
                                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Request Per Minute">Total de Deportistas</p>
                                        <h2>652 <small><i class="mdi mdi-arrow-down text-danger"></i></small></h2>
                                        <p class="text-muted m-0"><b>Last:</b> 0</p>
                                    </div>
                                </div>
                            </div><!-- end col -->
                     
                          
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0">Entrenamientos por Equipo</h4>
                                    <div class="widget-chart text-center">
                                        <div id="morris-donut-example" style="height: 245px;"></div>
                                        <ul class="list-inline chart-detail-list m-b-0">
                                            <li>
                                                <h5 class="text-danger"><i class="fa fa-circle m-r-5"></i>Series A</h5>
                                            </li>
                                            <li>
                                                <h5 class="text-success"><i class="fa fa-circle m-r-5"></i>Series B</h5>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- end col -->
                            <div class="col-lg-4">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0">Estadísticas</h4>
                                    <div id="morris-bar-example" style="height: 280px;"></div>
                                </div>
                            </div><!-- end col -->
                            <div class="col-lg-4">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0">Total de Entrenadores</h4>
                                    <div id="morris-line-example" style="height: 280px;"></div>
                                </div>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->

                        <div class="row">
                           


                            <div class="col-lg-6">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0 m-b-30">Equipos</h4>
                                    <div class="table-responsive">
                                        <table class="table table table-hover m-0">
                                          
                                        <thead>
                                            <tr>
                                                <th>Entrenador</th>
                                                <th>ID del Entrenador</th>
                                                <th>Nombre del Equipo</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.lstTeam)
    {
                                        <tr>
                                            <th>
                                                <img src="~/Content/images/users/avatar-1.jpg" alt="user" class="thumb-sm img-circle" />
                                            </th>
                                            <td>
                                                <h5 class="m-0">@item.coach.user.firstName</h5>
                                                <p class="m-0 text-muted font-13"><small>Id: @item.coach.userId</small></p>
                                            </td>
                                            <td>@item.teamName</td>

                                        </tr>
}
                                            
                                        </tbody>
                                        
                                        </table>
                                        <div>
                                            @Html.ActionLink("Equipos", "Index", "Teams")
                                        </div>
                                    </div> <!-- table-responsive -->
                                </div> <!-- end card -->
                                
                            </div>
                            
                            <!-- end col -->
                            <div class="col-lg-6">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0 m-b-30">Entrenadores</h4>
                                    <div class="table-responsive">
                                        <table class="table table table-hover m-0">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Nombre de Usuario</th>
                                                    <th>Nombres</th>
                                                    <th>Apellidos</th>
                                                    <th>Años de Experiencia</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.lstCoach)
            {


                                    <tr>
                                        <th>
                                            <span class="avatar-sm-box bg-success">L</span>
                                        </th>
                                        <td>
                                            <h5 class="m-0">@item.username</h5>
                                            <p class="m-0 text-muted font-13"><small>@item.userType</small></p>
                                        </td>
                                        <td>@item.firstName</td>
                                        <td>@item.lastName</td>
                                        <td>@item.yearsOfExperience</td> 
                                    </tr>
}
                                            </tbody>

                                        </table>
                                    <div>
                                        @Html.ActionLink("Entrenadores","Index","Coachs") 
                                                                                           </div>
                                    </div> <!-- table-responsive -->
                                </div> <!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->


                    </div> <!-- container -->
                </div> <!-- content -->
                <footer class="footer text-right">
                    2017 - 2018 © Sporty.
                </footer>
            </div>