@model GroupSportsWeb.ViewModels.Sessions.LstSessionsViewModel

@{
    ViewBag.Title = "Work Weeks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sesiones</h2>

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Sesiones de la semana @Model.Workweek.Nombre </h4>
                        <ol class="breadcrumb p-0 m-0">
                            <li>
                                <a href="#">Macrociclos</a>
                            </li>
                            <li>
                                <a href="#">Mesociclos </a>
                            </li>
                            <li class="active">
                                Semanas
                            </li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <div class="table-rep-plugin">
                            <div class="table-responsive" data-pattern="priority-columns">
                                <table id="tech-companies-1" class="table  table-striped">
                                    <thead>
                                        <tr>
                                            <th data-priority="1">Nombre</th>
                                            <th data-priority="1">Objetivo</th>
                                            <th data-priority="1">Fecha de Inicio</th>
                                            <th data-priority="1">Fecha de Fin</th>
                                            <th data-priority="1">Mesociclo</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.LstSessions)
                                        {
                                            <tr>
                                                <td>@item.Nombre</td>
                                                <td>@item.Objective</td>
                                                <td>@item.RegisterDate</td>
                                                <td>@item.WORKWEEK.Nombre</td>
                                                <td class="actions">
                                                    <a href="@Url.Action("AddEditSession", new {sessionid = item.SesionId, @class = "on-default edit-row"})"><i class="fa fa-pencil"></i></a>
                                                    <a href="@Url.Action("DeleteSession", new {sessionid = item.SesionId, @class = "on-default remove-row"})"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="form-group m-b-0">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <a href="@Url.Action("AddEditSession","Sessions",new { @class="btn btn-info waves-effect waves-light"})">Nueva sesion</a>
                                        @*<button type="button" class="btn btn-info waves-effect waves-light" onclick="location.href = 'Create';">Nuevo</button>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

        </div> <!-- container -->
    </div> <!-- content -->
    <footer class="footer text-right">
        2016 - 2017 © Group Sports.
    </footer>
</div>
