@model GroupSportsWeb.ViewModels.Macrociclos.AddEditMacrociclosViewModel
@{
    ViewBag.Title = "Agregar Macrociclo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Macrociclo</h2>


<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Macrociclos </h4>
                        <ol class="breadcrumb p-0 m-0">
                            <li>
                                <a href="#">Zircos</a>
                            </li>
                            <li>
                                <a href="#">Forms </a>
                            </li>
                            <li class="active">
                                Form elements
                            </li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title"><b>New Macrociclo</b></h4>

                        <div class="row">
                            <div class="col-md-6">
                                @using (Html.BeginForm("AddMacrociclo", "Macrociclos", FormMethod.Post, new { id = "popupForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <form class="form-horizontal" role="form">
                                        @Html.HiddenFor(model => model.MacrocicloId)
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.LabelFor(model => model.Name, new { @class = "col-md-2 control-label" })
                                                @Html.TextBoxFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.LabelFor(model => model.Objective, new { @class = "col-md-2 control-label" })
                                                @Html.TextBoxFor(model => model.Objective, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Objective, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.LabelFor(model => model.FechaInicio, new { @class = "col-md-2 control-label" })
                                                @Html.TextBoxFor(model => model.FechaInicio, new { @class = "form-control datepicker", PlaceHolder = "Ingresa fecha de inicio" })
                                                @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-11">
                                                @Html.LabelFor(model => model.FechaFin, new { @class = "col-md-2 control-label" })
                                                @Html.TextBoxFor(model => model.FechaFin, new { @class = "form-control datepicker", PlaceHolder = "Ingresa fecha de fin" })
                                                @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group m-b-0">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" value="Create" class="btn btn-info waves-effect waves-light">Crear</button>
                                            </div>
                                        </div>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker(); //Initialise any date pickers
    });
</script>


