@model GroupSportsWeb.ViewModels.Macrociclos.LstMacrociclosViewModel
@{
    ViewBag.Title = "Macrociclos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Macrociclos de @Model.Workplan.Name </h2>

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Macrociclos del @Model.Workplan.Name </h4>
                        <ol class="breadcrumb p-0 m-0">
                            <li>
                                <a href="#">Macrociclos</a>
                            </li>
                            <li>
                                <a href="#">Mesociclos </a>
                            </li>
                            <li class="active">
                                Semanas
                            </li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <div class="table-rep-plugin">
                            <div class="table-responsive" data-pattern="priority-columns">
                                <table id="tech-companies-1" class="table  table-striped">
                                    <thead>
                                        <tr>
                                            <th data-priority="1">Nombre</th>
                                            <th data-priority="1">Objetivo</th>
                                            <th data-priority="1">Fecha de Inicio</th>
                                            <th data-priority="1">Fecha de Fin</th>
                                            <th data-priority="1">Work Plan</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.LstMacrociclos)
                                        {
                                            <tr>
                                                <td>@item.Name</td>
                                                <td>@item.Objective</td>
                                                <td>@item.FechaInicio</td>
                                                <td>@item.FechaFin</td>
                                                <td>@item.WORKPLAN.Name</td>
                                                <td class="actions">
                                                    <a href="@Url.Action("EditMacrociclo",new { macrocicloId = item.MacrocicloId, @class="on-default edit-row"})"><i class="fa fa-pencil"></i></a>
                                                    <a href="@Url.Action("DeleteMacrocilo",new { macrocicloId = item.MacrocicloId, @class="on-default remove-row"})"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="form-group m-b-0">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <a href="@Url.Action("AddMacrociclo","Macrociclos",new { workplanid=@Model.Workplan.WorkPlanId, @class="btn btn-info waves-effect waves-light"})">Nuevo Macrociclo</a>
                                        @*<button type="button" class="btn btn-info waves-effect waves-light" onclick="location.href = 'Create';">Nuevo</button>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

        </div> <!-- container -->
    </div> <!-- content -->
    <footer class="footer text-right">
        2016 - 2017 © Group Sports.
    </footer>
</div>




